@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
.contact-form-parent{

    background: #02050A;
    .contact-back{
        max-width: 1300px;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 0 80px;
        padding-top: 120px;
place-content: center;
place-items: center;
        .text{
            h1{
                margin: 0;
                padding: 0;
                color: white;
                font-family: 'Poppins', sans-serif;
                font-size: 128px;
                font-weight: 600;
                line-height: 60px;
                span{
                    font-size: 60px;
                    font-weight: 600;
                }
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 27px;
                color: #A6A6AC;
                font-family: 'Poppins', sans-serif;
                margin-top: 40px;
                li{
                    margin-top: 10px;
                }
            }
        }
    }
}